<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grupo dos Bacana</title>
</head>
<body>
    <h2>Atividade no Spring</h2>
    <h3>Integrantes:<br>Emily Gonçalves<br>Pedro Borges<br>Leticia Martins<br></h3>
    <h3>Este projeto é baseado em Spring Boot, um framework que torna fácil a criação de aplicações Spring autossuficientes e robustas.<br>
        O Tomcat está rodando na porta 4500, então para rodar a aplicação, insira na aba do seu navegador "localhost:4500/" seguido da rota que
        deseja acessar.</h3>
    <h3>As rotas são:<br>nome<br>idade<br>salario</h3>

</body>
</html>